/* REGISTER DESIGN PAGE */

#containerRegister{
    border: 1px solid;
    border-radius: 15px; 
    width: 500px;
    margin: 0;
}

#buttonRegister{
    width: 100%;
}

#hrRegister{
    border: 1px solid;
    color: gray;
}

#h1Register{
    text-align: center;
}

#colRegisterMessage{
    text-align: center;
}


